@font-face {
    font-family: "raleway";
    src: url("font/Raleway-Regular.ttf") format('truetype');
}

/* Reset (basique)*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: "raleway";
    font-size: 1em;
}
    
.contenu {
    width: 85%;
    margin: auto;
}
.svg_med {
    min-width: 18px;
    max-width: 18px;
    min-height: 18px;
    max-height: 18px;
}
.svg_min {
    width: 12px;
    height: 12px;
}

h1 {
    font-size: 1.42em;
}

a {
    text-decoration: none;
    color: black;
}

/* HEADER */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 50px;
}
header nav {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

header nav a {
    border-top: 2px solid rgba(0, 0, 0, 0);
    padding-top: 46px;
    text-align: center;
    width: 10em;
}

header nav a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}


.register {
    color: #0065FC;
    font-weight: bold;
}

/* NAVIGATION */

.titre h1 {
    margin-bottom: 8px;
}
.nav_top {
    margin-top: 19px;
}
.nav_form {
    display: flex;
    justify-content: flex-start;
    height: 50px;
}
form i {
    background-color: #f2f2f2;
    padding: 16px 18px 16px 18px;
    font-size: 18px;
    border-radius: 1em 0 0 1em;
}
input {
    border: none;
    font-size: 1.1em;
    font-weight: bold;
}
#search {
    border: 1px solid #f2f2f2;
    width: 235px;
}
.form_summ {
    border-radius: 0 1em 1em 0;
    background-color: #0065FC;
    color: #fff;
    cursor: pointer;
    width: 135px;
}

.filtre {
    display: flex;
    justify-content: space-between;
    max-width: 67%;
    font-weight: bold;
    margin-top: 32px;
    margin-left: 8px;
}
.filtre_sel {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 36px;
    border: 2px solid #F2F2F2;
    border-radius: 200px;
    text-decoration: none;
    color: black;
    height: 50px;
}
.f4 {
    min-width: fit-content;
}
.filtre_sel i {
    padding: 15px 15px 15px 15px;
    background-color: #DEEBFF;
    min-height: 50px;
    min-width: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    border-radius: 100%;
    color: #0065FC;
}
.filtre_sel p {
    padding: 0 10px 0 10px;
    font-size: 1.13em;
}
.filtre a:hover {
    color: #0065FC;
    background-color: #f2f2f2;
}
.info {
    display: flex;
    justify-content: baseline;
    margin-top: 20px;
}
.info i {
    color: #0065FC;
    font-size: 0.6em;
    border: 1px solid #cfcfcf;
    border-radius: 100%;
    padding: 4px 6px 4px 6px;
    margin-right: 10px;
}

/* MAIN */

.fa-star {
    font-size: 0.8em;
}

.hebergements {
    display: flex;
    margin-top: 50px;
}

#hebergements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    max-width: 60%;
    margin-right: 40px;
    background-color: #F2F2F2;
}
.hebergements article {
    background-color: white;
    border-radius: 1em;
    box-shadow: 10px black;
}
.hebergements i {
    margin: 2px 2px 0px 2px;
}
.hebergements img {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    padding: 5px 5px 0 5px ;
}
.hebergements figcaption {
    padding-left: 10px;
}
.hebergements span {
    padding-left: 10px;
    padding-bottom: 11px;
}
#hebergements h2 {
    padding-right: 60%;
}
#populaires {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    padding-left: 10px;
    background-color: #F2F2F2;
}