/* Reset */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* balises diverses */

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
}
    
header, main {
    width: 85%;
    margin: auto;
}
h1 {
    font-size: 1.42em;
}
a {
    text-decoration: none;
    color: black;
}

/* HEADER */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 50px;
}
header .logo {
    position: relative;
    top: 10px;
}
header nav {
    display: flex;
    margin-left: auto;
}
header nav a {
    border-top: 2px solid rgba(0, 0, 0, 0);
    padding-top: 46px;
    text-align: center;
    width: 10em;
}

header nav a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}


.register {
    color: #0065FC;
    font-weight: bold;
    order: 3;
    margin-left: 25px;
}

/* NAVIGATION */

.titre h1 {
    margin-bottom: 12px;
}
.recherche_form {
    margin-top: 19px;
}
.recherche_form input {
    padding-left: 15px;
    font-family: "raleway", sans-serif;
    font-size: 1em;
    font-weight: bold;
}
.recherche_form {
    display: flex;
    justify-content: flex-start;
    height: 50px;
}
form .fa-map-marker-alt {
    background-color: #f2f2f2;
    padding: 16px 18px 16px 18px;
    font-size: 18px;
    border-radius: 1em 0 0 1em;
}
button {
    border: none;
    font-size: 1.1em;
    font-weight: bold;
}
#search {
    border: 1px solid #f2f2f2;
    width: 235px;
}
.form_summ {
    border-radius: 0 1em 1em 0;
    background-color: #0065FC;
    color: #fff;
    cursor: pointer;
    width: 135px;
}
.btn_icon {
    display: none !important;
}

.conteneur {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 36px;
}
.filtres {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    list-style-type: none;
}
.filtres a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
}
.filtres li {
    white-space: nowrap;
    overflow: hidden;
}
.filtre_sel {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    border: 2px solid #cccccc;
    border-radius: 200px;
    text-decoration: none;
    color: black;
    height: 50px;
    margin-left: 25px;
}
.filtre_sel i {
    padding: 15px;
    background-color: #DEEBFF;
    height: 50px;
    width: 50px;
    line-height: 100%;
    text-align: center;
    margin: auto;
    white-space: nowrap;
    font-size: 20px;
    border-radius: 100%;
    color: #0065FC;
}
.info {
    display: flex;
    margin-top: 20px;
    align-items: center;
}
.fa-info {
    color: #0065FC;
    font-size: 0.70em;
    border: 1px solid #cfcfcf;
    border-radius: 100%;
    /* padding: 4px 6px 4px 6px; */
    margin-right: 10px;
    height: 20px;
    width: 20px;
    line-height: 16.5px;
    text-align: center;
    vertical-align: middle;
}
.filtre li:hover {
    color: #0065FC;
    background-color: #f2f2f2;
    border: 2px solid #0065FC;
}
.filtre_p {
    padding: 0 10px;
    

}


/* MAIN */

.fa-star {
    font-size: 0.8em;
    color: #0065FC;
}
.grey {
    color: #d9d9d9
}

/* Section hébergements */

.hebergements {
    display: flex;
}

#hebergements {
    margin-top: 50px;
    padding: 0 38px;
    border-radius: 1em 1em 1em 1em;
    background-color: #F2F2F2;
    margin-right: 40px;
    width: 70%;
}
#hebergements div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}
#hebergements article {
    background-color: white;
    border-radius: 1em;
    /* min-height: 200px; */
    padding-bottom: 10px;
    box-shadow: 0px 0px 10px #c9c9c9;
    margin-bottom: 30px;
}
.vignette {
    width: 30%;
}
#hebergements i {
    margin: 2px 2px 0px 2px;
}
#hebergements img {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    padding: 5px 5px 0 5px ;
    width: 100%;
    height: 114px;
    object-fit: cover;
}
#hebergements figcaption {
    padding-left: 10px;
}
#hebergements h2 {
    display: inline-block;
    margin-top: 36px;
    margin-bottom: 30px;
}
#hebergements h3 {
    font-size: 1em;
}
#hebergements p {
    font-size: 0.9em;
}
.star_h {
    padding-bottom: 11px;
}
#hebergements i {
    font-size: 0.7em;
    margin: 0;
}
#hebergements h4 {
    font-size: 1.2em;
    padding-bottom: 20px;
}

/* Section populaires */

.populaires {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    margin-top: 50px;
    border-radius: 1em 1em 1em 1em;
    background-color: #F2F2F2;
}
#populaires {
    display: flex;
}
.fa-chart-line {
    float: right;
    font-size: 0.8em;
    line-height: 30px;
}
#populaires h2 {
    width: 90%;
    margin: auto;
    padding-top: 20px;
}
.populaires a {
    width: 90%;
    margin: auto;
}
.populaires h3 {
    font-size: 1em;
}
.populaires p {
    font-size: 0.9em;
}
.populaires figure i {
    font-size: 0.7em;
}
.populaires figure {
    display: flex;
    background-color: white;
    border-radius: 1em;
    box-shadow: 0px 0px 10px #c9c9c9;
}
.populaires img {
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    padding: 5px;
    min-height: 133px;
}
.populaires figcaption {
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.float_b {
    margin-top: auto;
}

/* Section activités */

#activites {
    margin-top: 50px;
}
#activites h2 {
    font-size: 1.4em;
}
.activites {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }
.activites img {
    object-fit: cover;
}
.pomegues_frioul, .garde_longchamp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23%;
  }
  .calanques, .vieux_port {
      width: 23%;
  }
  
.activites img {
    border-radius: 15px 15px 0 0;
    object-fit: cover;
  }
  
.grande_photo img {
    width: 100%;
    height: 400px;
  }
  
.grand_vignette img {
    width: 100%;
    height: 160px;
  }
  
.moyen_vignette img {
    width: 100%;
    height: 140px;
  }
  
.petit_vignette img {
    width: 100%;
    height: 120px;
  }
  
.act_shadow {
    border: 1px solid #f2f2f2;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #f2f2f2;
  }
  
.activites h4 {
    margin-left: 15px;
    padding: 20px 0;
  }

/* FOOTER */

footer {
    background-color: #f2f2f2;
    padding: 50px 0 50px 0;
    margin-top: 60px;
    width: 100%;
}
footer nav {
    display: flex;
    justify-content: space-between;
    margin-left: 8%;
    margin-right: 32%;
}
footer li {
    list-style-type: none;
    padding-top: 15px;
}
footer h4 {
    padding: 0 0 10px 0;
}

@media only screen and (max-width: 1200px) { 

    .conteneur {
        flex-wrap: wrap;
    }
    .filtre_sel {
        margin-top: 14px;
    }
    .hebergements {
        flex-direction: column-reverse;
    }
    #hebergements {
        width: 100%;
    }
    #hebergements a {
        width: 49%;
    }
    #hebergements img {
        width: 100%;
        height: 114px;
        object-fit: cover;
        top: 50%;
        left: 50%;
    }
    .populaires {
        width: 100%;
        min-height: 600px;
        padding-top: 42px;
        padding-bottom: 42px;
    }
    .populaires h2 {
        padding-bottom: 20px;
    }
    .activites {
        flex-wrap: wrap;
    }
    .activites img {
        height: 134px;
    }
    .act_pdng {
        margin-top: 20px;
    }
    .pomegues_frioul, .garde_longchamp {
        width: 49%;
    }
    .calanques, .vieux_port {
        width: 49%;
    }
    .garde_longchamp {
        order: 1;
    }
    .vieux_port {
        order: 3;
    }
    .pomegues_frioul {
        order: 2;
    }
    .calanques {
        order: 4;
    }

}


@media only screen and (max-width: 768px) {

    #header, main {
        width: 100%;
    }
    header {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }
    .logo {
        margin-left: 20px;
    }
    .titre {
        margin: 0 2%;
    }
    .register {
        order: 0;
        margin-right: 20px;
    }
    .recherche_form {
        margin: 0 2%;
        margin-top: 20px;
    }
    .menu_haut {
        width: 100%;
    }
    .menu_h, .menu_a {
        width: 50%;
    }
    header nav a {
        border-top-style: none;
        border-bottom: 3px solid #F2F2F2;
        padding-bottom: 20px;
        text-align: center;
        width: 10em;
    }
    
    header nav a:hover {
        border-top-style: none;
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
    }
    .form_summ {
        width: 50px;
        border-radius: 1em;
        margin-left: -1em;
    }
    .btn_icon {
        display: initial !important;
    }
    .btn_text {
        display: none;
    }
    .filtre {
        margin: 0 2%;
    }
    .filtre h3 {
        width: 100%;
    }
    .filtre_sel {
        margin-left: 0;
        margin-right: 15px;
    }
    .filtre_large {
        margin-right: 100px
    }
    #hebergements {
        background-color: #fff;
    }
    #hebergements a {
        width: 99%;
    }
    .populaires {
        width: 100vmin;
        border-radius: 0%;
    }
    #activites h2 {
        margin-left: 2%;
    }
    .pomegues_frioul, .garde_longchamp {
        width: 96%;
        margin-left: auto;
        margin-right: auto;
    }
    .calanques, .vieux_port {
        width: 96%;
        margin-left: auto;
        margin-right: auto;
    }
    footer {
        width: 100%;
    }
    footer nav {
        flex-direction: column;
        padding-left: 32px;
        margin-left: 0;
        margin-right: 0;
    }
    footer nav ul {
        margin-bottom: 60px;
    }
}