@font-face {
    font-family: "raleway";
    src: url("font/Raleway-Regular.ttf") format('truetype');
}

/* Reset (basique)*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: "raleway";
    /* font-weight: 500; */
    font-size: 18px;
    /* width: 80%; */
}
    
.contenu {
    width: 80%;
    margin: auto;
}

.svg {
    width: 20px;
    height: 20px;
}
.svg_med {
    width: 16px;
    height: 16px;
}
.svg_min {
    width: 12px;
    height: 12px;
}
h1 {
    font-size: 1.4em;
}

/*####################*/
/* HEADER */
/*####################*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 50px;
}

header img {
    /* position: relative; */
    top: 20px;
}
/* header div {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: baseline;
} */
header nav {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    /* flex-direction: row; */
}
header a {
    text-decoration: none;
    color: black;
}
header nav a {
    border-top: 2px solid rgba(0, 0, 0, 0);
    padding-top: 48px;
    text-align: center;
    width: 9.8em;
}
header nav a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}
.register {
    color: #0065FC;
    font-weight: bold;
}

/*####################*/
/* NAVIGATION */
/*####################*/

.nav_form {
    display: flex;
    justify-content: flex-start;
    height: 40px;

}
form img {
    background-color: #f2f2f2;
    padding: 12px 12px 12px 12px;
    border-radius: 1em 0 0 1em;
}
input {
    border: none;
    font-weight: 700;
}
#search {
    border: 1px solid #F2F2F2;
}
.form_summ {
    border-radius: 0 1em 1em 0;
    background-color: #0065FC;
    color: #fff;
}

.filtre {
    display: flex;
    justify-content: space-between;
    max-width: 60%;
    font-weight: bold;
    margin-top: 20px;
}
.filtre_sel {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 30px;
    border: 2px solid #F2F2F2;
    border-radius: 200px;
    text-decoration: none;
    color: black;
    max-height: 38px;
}
.f4 {
    min-width: fit-content;
}
.filtre_sel img {
    padding: 10px 10px 10px 10px;
    background-color: #DEEBFF;
    border-radius: 100%;
}
.filtre_sel p {
    padding: 0 10px 0 10px;
}
.filtre a:hover {
    color: #0065FC;
}
.info {
    display: flex;
    justify-content: baseline;
    margin-top: 20px;
}
.info img {
    border: 1px solid #cfcfcf;
    border-radius: 100%;
    padding: 3px 3px 3px 3px;
    margin-right: 10px;
}

/*####################*/
/* MAIN */
/*####################*/

#hebergements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#hebergements img {
    max-width: 300px;
}
#hebergements h2 {
    align-self: flex-start;
}
#hebergements figure {
    align-self: flex-end;
}


.bordure {
    border: solid 1px red;
}
